/Users/juanfajardonavarro/Documents/Desarrollo/SmartProcessHome/.git
/Users/juanfajardonavarro/Documents/Desarrollo/SmartProcessHome/.idea
/Users/juanfajardonavarro/Documents/Desarrollo/SmartProcessHome/.settings
/Users/juanfajardonavarro/Documents/Desarrollo/SmartProcessHome/.pydevproject
/Users/juanfajardonavarro/Documents/Desarrollo/SmartProcessHome/.project
